<table class="table-condensed table-bordered">
  <tr>
    <th class="text-center"><strong>Event Name</strong></th>
    <th class="text-center"><strong>  Occurrence(s)</strong></th>
  </tr>
  <%= pie_chart @registered_application.events.group(:event_name).count %>
</table>
