<table class="table table-bordered table-condensed">
  <tr>
    <th class="text-center"><strong>Name</strong></th>
    <th class="text-center"><strong>URL</strong></th>
  </tr>
  <% @user.registered_applications.ordered_by_name.each do |app| %>
    <tr>
      <th>
        <%= link_to app.name, user_registered_application_path(app.user, app) %>
      </th>
      <th><%= app.url %></th>
    </tr>
  <% end %>
</table>
