<div class="row">
  <div class="col-md-8">
    <h2>Registered Applications</h2>
    <%= render 'users/regapps' %>
    <% if @user == current_user %>
      <%= link_to "Register another Application", new_user_registered_application_path(@user), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
