<div class="row">
  <div class="col-md-8">
    <h2>Registered Applications</h2>

    <table class="table table-bordered table-condensed">
      <tr>
        <th class="text-center"><strong>Name</strong></th>
        <th class="text-center"><strong>URL</strong></th>
      </tr>
      <% @user.registered_applications.ordered_by_name.each do |app| %>
        <tr>
          <th>
            <%= link_to app.name, user_registered_application_path(app.user, app) %>
          </th>
          <th><%= app.url %></th>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <% if @user == current_user %>
        <%= link_to "Register another Application", new_user_registered_application_path(@user), class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>
