<div class="row">
  <div class="col-md-6">
    <h2>About Blocmetrics</h2>

    <h4>Use Blocmetrics to track event activity on your site(s). This event data is logged by Blocmetrics, enabling you to view user interactions involving your site content. </h4>
    <p>Created by: Aaron Kozminski</p>
  </div>
</div>
